# Projet Supabase principal de Manga Wave
VITE_SUPABASE_URL=https://ilmsomiaqthhfyvgqnsp.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AzWSMR-D5Cu5xvC-WIhxOQ_7aB8EJD3

# Proxy MangaDex déployé dans le même projet
VITE_MANGADEX_API_PROXY_URL=https://ilmsomiaqthhfyvgqnsp.supabase.co/functions/v1/mangadex-proxy
VITE_MANGADEX_COVER_PROXY_URL=https://ilmsomiaqthhfyvgqnsp.supabase.co/functions/v1/mangadex-proxy
VITE_MANGADEX_PROXY_PUBLISHABLE_KEY=sb_publishable_AzWSMR-D5Cu5xvC-WIhxOQ_7aB8EJD3
VITE_MANGA_PROXY_URL=https://ilmsomiaqthhfyvgqnsp.supabase.co/functions/v1/manga-proxy
